---
import MainLayout from "../../layouts/Main.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import BookingBanner from "../../components/BookingBanner.astro";
import i18next, { t, changeLanguage } from "i18next";
const lang = i18next.language;
const base = lang === "it" ? "" : `/${lang}`;
import { getImage } from "astro:assets";
import myBackground from "../../assets/img/app/image00002.jpeg";
const optimizedBackground = await getImage({ src: myBackground, format: "webp" });
import { Image } from "astro:assets";
import img1 from "../../assets/img/app/image00001.jpeg";
import img2 from "../../assets/img/app/image00002.jpeg";
import img3 from "../../assets/img/app/image00003.jpeg";
import img4 from "../../assets/img/app/image00004.jpeg";
import img5 from "../../assets/img/app/image00005.jpeg";
import img6 from "../../assets/img/app/image00006.jpeg";

changeLanguage("en");
---


<MainLayout title="Contatti - Agriturismo La Rondine Bolgheri">
<Header/>
<section class="contact-v3 relative z-[1] mb-10 bg-secondary">
    <div class="w-[calc(100%_-_2.5rem)] lg:w-[calc(100%_-_4rem)] mx-auto max-w-xl pt-11 pb-11 lg:mb-12">
      <div class="text-center">
        <h1 class="text-6xl font-extrabold text-primary mb-2">Contatti</h1>
        <p class="text-lg">Dove trovarci e come contattarci</p>
      </div>
    </div>
  
    <div class="w-[calc(100%_-_2.5rem)] lg:w-[calc(100%_-_4rem)] mx-auto max-w-lg md:max-w-3xl lg:max-w-5xl">
      <div class="grid grid-cols-12 gap-8 lg:gap-12">
        <div class="col-span-12 lg:col-span-6">
          <dl class="details-list details-list--rows">
            <div class="details-list__item py-5 lg:py-8">
              <dt class="font-bold mb-1.5 lg:mb-2">Dove siamo</dt>
              <dd class="leading-snug">
                Loc. Campo al Noce 51 <br>57022 <br>Bolgheri (Li)
              </dd>
            </div>
          
            <div class="details-list__item py-5 lg:py-8">
              <dt class="font-bold mb-1.5 lg:mb-2">Email</dt>
              <dd>
                <a href="mailto:info@agriturismolarondine.it" class="underline text-indigo-700">info@agriturismolarondine.it</a>
              </dd>
            </div>
          
            <div class="details-list__item py-5 lg:py-8">
              <dt class="font-bold mb-1.5 lg:mb-2">Telefono</dt>
              <dd class="leading-snug">
                <p><a href="tel:+39 3802519233" class="underline text-indigo-700">+39 380 2519233</a></p>
                <p><a href="tel:+39 0565 749638" class="underline text-indigo-700">+39 0565 749638</a></p>

              </dd>
            </div>
          </dl>
        </div>
  
        <div class="col-span-12 lg:col-span-6">
          <form data-netlify="true" name="contact">
            <div class="mb-3 lg:mb-5">
              <label class="inline-block text-sm mb-1.5 lg:mb-2" for="contactName">{t('form.name')}</label>
              <input class="appearance-none bg-white border border-gray-300 py-2 px-3 rounded-md text-[1em] leading-tight transition duration-200 outline-none placeholder:opacity-100 placeholder:text-gray-400 focus-within:border-indigo-700 w-full" type="text" name="name" id="contactName" required>
            </div>
        
            <div class="mb-3 lg:mb-5">
              <label class="inline-block text-sm mb-1.5 lg:mb-2" for="contactSurname">{t('form.surname')}</label>
              <input class="appearance-none bg-white border border-gray-300 py-2 px-3 rounded-md text-[1em] leading-tight transition duration-200 outline-none placeholder:opacity-100 placeholder:text-gray-400 focus-within:border-indigo-700 w-full" type="text" name="surname" id="contactSurname" required>
            </div>
        
            <div class="mb-3 lg:mb-5">
              <label class="inline-block text-sm mb-1.5 lg:mb-2" for="contactEmail">{t('form.email')}</label>
              <input class="appearance-none bg-white border border-gray-300 py-2 px-3 rounded-md text-[1em] leading-tight transition duration-200 outline-none placeholder:opacity-100 placeholder:text-gray-400 focus-within:border-indigo-700 w-full" type="email" name="email" id="contactEmail" required>
            </div>
        
            <div class="mb-3 lg:mb-5">
              <label class="inline-block text-sm mb-1.5 lg:mb-2" for="contactMessage">{t('form.message')}</label>
              <textarea class="appearance-none bg-white border border-gray-300 py-2 px-3 rounded-md text-[1em] leading-tight transition duration-200 outline-none placeholder:opacity-100 placeholder:text-gray-400 focus-within:border-indigo-700 w-full" rows="9" name="message" id="contactMessage" required></textarea>
            </div>
          
            <div class="text-right">
              <button class="bg-indigo-700 text-white mb-10 shadow-md text-[1em] px-4 py-2 rounded-md relative inline-flex justify-center items-center whitespace-nowrap cursor-pointer no-underline leading-tight transition-all duration-200 hover:bg-indigo-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-700" type="submit">{t('form.submit')}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2907.407545868234!2d10.578400076746773!3d43.22191427112587!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12d60229858cd7bb%3A0x1aa7cc17061cca5b!2sAgriturismo%20La%20Rondine!5e0!3m2!1sit!2sit!4v1724140074529!5m2!1sit!2sit" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>  </section>
</section>
<BookingBanner/>
<Footer/>
</MainLayout>