---
import MainLayout from "../../layouts/Main.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import BookingBanner from "../../components/BookingBanner.astro";
import i18next, { t, changeLanguage } from "i18next";
const lang = i18next.language;
const base = lang === "it" ? "" : `/${lang}`;
import { getImage } from "astro:assets";
import myBackground from "../../assets/img/117_castagneto.jpg";
const optimizedBackground = await getImage({ src: myBackground, format: "webp" });
import { Image } from "astro:assets";
import img1 from "../../assets/img/112_castagneto.jpg";
import img2 from "../../assets/img/app/image00002.jpeg";
import img3 from "../../assets/img/app/image00003.jpeg";
import img4 from "../../assets/img/app/image00004.jpeg";
import img5 from "../../assets/img/app/image00005.jpeg";
import img6 from "../../assets/img/app/image00006.jpeg";

changeLanguage("en");
---


<MainLayout title="Appartamento Jolly - Agriturismo La Rondine Bolgheri">
<Header/>
<section class="hero relative z-[1] py-16 lg:py-28 px-0 bg-gray-100 bg-cover bg-no-repeat bg-center text-center" style={`background-image: url(${optimizedBackground.src});`}>
    <div class="w-[calc(100%_-_3rem)] mx-auto max-w-lg sm:max-w-3xl">
      <div class="text-sm text-green-400/90 mb-3">Cosa fare in vacanza a Bolgheri</div>
  
      <h1 class="text-4xl lg:text-6xl text-primary font-extrabold mb-2">Tante opportunità per tutti i gusti</h1>
  
  
      <div class="flex flex-wrap items-center gap-4 justify-center">
      </div>
    </div>
  </section>
  <div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
      <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
        <div>
          <div class="h-64 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto">
            <Image src={img1} loading="lazy" alt="Photo by Martin Sanchez" class="h-full w-full object-cover object-center" />
          </div>
        </div>
  
        <div class="md:pt-8">
  
          <h1 class="mb-4 text-center text-2xl font-extrabold text-primary sm:text-3xl md:mb-6 md:text-left">Costa degli Etruschi, un territorio unico!</h1>
  
          <p class="mb-6 text-gray-500 sm:text-lg md:mb-8">
            Un lembo di terra pressoché intatto di natura preservata, di opere d'arte, di prodotti genuini e di buona gastronomia, di botteghe dai sapori antichi, di ospitalità e tradizione.
            Uno straordinario paesaggio di boschi e campi curati meticolosamente, diretta espressione di una raffinata cultura del territorio.
          </p>
  
  
          <p class="mb-6 text-gray-500 sm:text-lg md:mb-8"> Mai troppo caldo in estate e temperatura ideale in autunno e primavera rendono il clima mite e piacevole nella Costa degli Etruschi, capace di creare veri spettacoli della natura, come gli olivi della campagna di Castagneto Carducci, presenti direttamente a ridosso del Viale dei Cipressi che da San Guido porta a Bolgheri, vecchi di millenni, con tronchi enormi di oltre 2,5 metri di diametro alla base e con altezze che raggiungono i 25 metri.</p>
          <p class="mb-6 text-gray-500 sm:text-lg md:mb-8"> Il paesaggio del territorio di Castagneto Carducci e dei suoi dintorni si è modellato nel tempo in funzione della vite, assumendo caratteristiche di straordinaria ed affascinante bellezza. Terra dai dolci colli, dai panorami luminosi, dai colori che sfumano dall'ocra al verde e all'azzurro.
            Un paesaggio viticolo movimentato che abbraccia un'ampia fascia, con colline irregolarmente disposte e la pianura costiera.
            Una morfologia variegata di cui Castagneto Carducci va orgoglioso e che ha saputo meglio coniugare il turismo con l’enologia, merito anche della bellezza dei suoi paesaggi.</p>

        </div>
      </div>
    </div>
  </div>
  
<BookingBanner/>
<Footer/>
</MainLayout>