---
import Main from "../layouts/Main.astro";
import ContactForm from "../components/ContactForm.astro";
import Header from "../components/Header.astro";
---

<Main title="Test Form">
<Header/>

<ContactForm/>

</Main>

