---
import { changeLanguage } from "i18next";
import Main from "../layouts/Main.astro";
import ContactForm from "../components/ContactForm.astro";
import Header from "../components/Header.astro";

changeLanguage("it");
---

<Main title="Test Form">
<Header/>

<ContactForm/>

</Main>

