---
import { getImage } from "astro:assets";
import i18next, { t } from "i18next";
import Image from "astro/components/Image.astro";
import img1 from "../assets/img/app/image00007.jpeg"
import img2 from "../assets/img/app/image00008.jpeg"

import myBackground2 from "../assets/img/sfondohome.png"
const optimizedBackground2 = await getImage({src: myBackground2, format: 'webp'});
const lang = i18next.language;
const base = lang === 'it' ? '' : `/${lang}`;
---

<section class="bg-green-50 dark:bg-gray-900" style={`background-image: url(${optimizedBackground2.src});`}>
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class=" text-secondary sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl lg:text-6xl tracking-tight font-extrabold text-secondary">{t("appartamenti.content1")}</h2>
            <p class="mb-4">{t("appartamenti.content2")}</p>
            <p>{t("appartamenti.content3")}</p>
        </div>
        <div class="grid grid-cols-1 gap-2 mt-8">
            <Image class="w-full rounded-lg" src={img1} alt="office content 1">
        </div>
    </div>
</section>