---
import Image from "astro/components/Image.astro";
import i18next, { t } from "i18next";
const lang = i18next.language;
const base = lang === 'it' ? '' : `/${lang}`;
import img1 from "../assets/img/vialedibolgheri.jpg"
import img2 from "../assets/img/117_castagneto.jpg"

---

<div class="bg-secondary py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
      <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
        <div>
          <div class="h-64 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto">
            <Image src={img1} loading="lazy" alt="Photo by Martin Sanchez" class="h-full w-full object-cover object-center" />
          </div>
        </div>
  
        <div class="md:pt-8">
          <p class="mb-3 text-center font-bold text-green md:text-left">{t("territorio_home.pretitle")}</p>
  
          <h1 class="mb-4 text-4xl lg:text-6xl font-extrabold text-primary sm:text-6xl md:mb-6 md:text-left">{t("territorio_home.title")}</h1>
  
          <p class="mb-6 text-gray-500 sm:text-lg md:mb-8 italic">{t("territorio_home.poesia")}</p>
  
          <h2 class="mb-2 text-center text-xl font-semibold  sm:text-2xl md:mb-4 md:text-left text-green">{t("territorio_home.title2")}
        </h2>
  
          <p class="mb-6 text-gray-500 sm:text-lg md:mb-8">{t("territorio_home.text1")}</p>

            <p class="mb-6 text-gray-500 sm:text-lg md:mb-8">{t("territorio_home.text2")}</p>
        </div>
      </div>
    </div>
  </div>

  <section class="bg-secondary dark:bg-gray-900">
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
        <div class="mr-auto place-self-center lg:col-span-7">
            <h1 class="max-w-2xl mb-4 text-4xl font-extrabold text-primary tracking-tight leading-none md:text-5xl xl:text-6xl">{t("territorio_home.title3")}</h1>
            <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">{t("territorio_home.text3")}</p>
            <a href="/dintorni" class="inline-flex items-center justify-center px-5 py-3 mr-3 mb-2 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
              {t("territorio_home.button")}
                <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
            
        </div>
        <div class=" lg:mt-0 lg:col-span-5 lg:flex">
            <Image src={img2} alt="mockup" class="rounded-lg">
        </div>                
    </div>
</section>